.winnerPageContainer {
    background-color: #ff6b6b;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}
.winnerContainer {
    width: 35%;
    height: 80%;
    margin: auto;
    margin-top: 5vh;
}
h1 {
    color: white;
    margin: 0;
}
.restaurantContainer {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.restaurant {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.imageContainer {
    height: 40%;
    width: 100%;
}
.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 15px;
}
.title {
    font-size: 1.8vw;
    font-weight: bold;
    text-align: left;
    margin: 0;
}
.priceRange {
    font-size: 1.8vw;
    margin: 0;
}
.starsContainer {
    text-align: left;
    padding: 0 15px;
}
.location {
    font-size: 1.3vw;
    text-align: left;
    padding: 20px 15px;
}

.buttonsContainer {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px 30px 15px;
    align-items: center;
    margin-top: auto;
}
.reviewsButton {
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
    height: 40px;
    font-size: 1.5vw;
}
.voteButton {
    cursor: pointer;
}

@media(max-width: 768px) {
    .winnerContainer {
        width: 80%;
    }
    .title {
        font-size: 35px;
    }
    .priceRange {
        font-size: 30px;
    }
    .location {
        font-size: 28px;
    }
    .reviewsButton {
        font-size: 28px;
        height: 50px;
    }
}