.homePageContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 80px;
    box-sizing: border-box;
}
h1 {
    font-size: 45px;
    color: #1f2933;
    margin: 0;
}
h2 {
    font-size: 35px;
    color: #1f2933;
}
.buttonContainer {
    margin-top: 50px;
}
.foodFightImage {
    max-width: 100%; 
    max-height: 400px;
}