.selectRestaurantContainer {
    padding: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.searchContainer {
    display: flex;
    flex-direction: row;
    width: 80%;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.terms {
    width: 40%;
    height: 22px;
    font-size: 16px;
}

.location {
    width: 40%;
    height: 22px;
    font-size: 16px;
}

.button {
    width: 500px;
}